img {
    width: 100%;
    height: auto;
}

.orange {
    color: #FF0000;
}

.blue {
    color: #034EA2;
}

.logoFont {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: 2vw;
    left: 2vw;
}